<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Detalle</mat-card-title>
          <mat-card-subtitle>              
            <div *ngFor="let msg of message">
              <strong>Red social: {{msg.social}}</strong>
              <div *ngFor="let marca of msg.trademarks">
                Marca: {{marca.marca}}                
              </div>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  </div>