.contenedor {
  width: 80%;
  min-height: 80vh;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #d8d8d8;
}
.hijo {
  background: #ffffff;
  height: 20px;
  color: #000000;
  margin: 30px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.link {
  cursor: pointer;
}
.jc-input {
  margin: 10px;
  width: 300px;
}
.jc-select {
  margin: 10px;
}
.jc-button {
  background: #f8cb1c;
  border-radius: 25px;
  height: 54px;
  width: 150px;
  margin-top: -20px;
}

/* To remove the default underline */
.mat-input-underline.mat-form-field-underline {
  background: transparent;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #ffffff;
  color: transparent !important;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .jc-input {
    width: 100%;
  }
  .jc-select {
    width: 100%;
  }
  #jc-paises, #jc-search{
	width: 100%;
}
}

::ng-deep .mat-autocomplete-panel {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  box-shadow: none;
  margin-top: -25px;
  padding-top: 25px;
}

#jc-search ::ng-deep .mat-form-field {
	display: inline-block;
	position: relative;
	text-align: left;
	z-index: 9999;
  }

