<form [formGroup]="form">
  <div class="contenedor">
    <div id="jc-paises">
  <mat-form-field appearance="outline" class="jc-select">
    <mat-select placeholder="País" formControlName="paises">
      <mat-option *ngFor="let pais of paises" value="pais">{{
        pais
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <div id="jc-search">
  <mat-form-field appearance="outline" class="jc-input jc-search">
    <input formControlName="searchTrademark" type="text" matInput placeholder="Busca tu marca, URL o #topic" [matAutocomplete]="autoGroup" required>
      <mat-autocomplete #autoGroup="matAutocomplete" multiple>
        <mat-optgroup *ngFor="let group of socialGroupOptions | async" [label]="group.social">
          <mat-option *ngFor="let trademark of group.trademarks; let i = index" [value]="selectedTrademarks">                      
            <div (click)="optionClicked($event, group, i)">
              <mat-checkbox [checked]="group.trademarks[i].selected" (change)="toggleSelection(group,i)" (click)="$event.stopPropagation()">
                  {{ trademark.marca }}
              </mat-checkbox>
          </div>
          </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</div>
  <button value="Buscar"  mat-flat-button class="jc-button" (click)="btnClick()">
    Mostrar
  </button>

  <div class="break"></div>
<div>
  <img class="link" src="../../assets/bt-video.png" alt="" width="120px" (click)="goToVideo();">
</div>

</div>
</form>